name: Docker Image CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Repository
      uses: actions/checkout@v4

    - name: Log in to Docker Hub
      run: echo "${{ secrets.DOCKER_PASSWORD }}" | docker login -u "${{ secrets.DOCKER_USERNAME }}" --password-stdin

    - name: Build the Docker Image
      run: |
        docker build . --file Dockerfile --tag GreenPandaStudios/authz-server:latest
        docker tag GreenPandaStudios/authz-server:latest GreenPandaStudios/authz-server:${{ github.sha }}

    - name: Push Image to Docker Hub
      run: |
        docker push GreenPandaStudios/authz-server:latest
        docker push GreenPandaStudios/authz-server:${{ github.sha }}
